version: '3.8'
services:
  proxy:
    restart: unless-stopped
    networks: [serializers]
    build:
      dockerfile: docker/proxy.Dockerfile
    ports: ["5000:5000"]

  json:
    restart: unless-stopped
    networks: [serializers]
    build:
      dockerfile: docker/serializer.Dockerfile
      args:
        data_format: json

  yaml:
    restart: unless-stopped
    networks: [serializers]
    build:
      dockerfile: docker/serializer.Dockerfile
      args:
        data_format: yaml

  pickle:
    restart: unless-stopped
    networks: [serializers]
    build:
      dockerfile: docker/serializer.Dockerfile
      args:
        data_format: pickle

networks:
  serializers:
    name: serializers
